body {
  background: #c2ded1;
  font-family: 'Nunito', sans-serif;
}

#navbar {
  font-size: 1.5 rem;
  font-weight: 100;
}

#navbar .nav-link {
  color: black;
}

#navbar .nav-link:hover {
  color: #354259;
}

#navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
}